<!-- Wrapper -->
<div id="wrapper">

	<header id="header">
					<a href="{{ site.baseurl }}/index.html">
						<img class="image.headpic" src="{{ site.baseurl }}/{{ site.logo-image-url }}" alt="Hygiene-Check.Com">
					</a>
				<!-- <img src="{{ site.baseurl }}/{{ site.logo-image-url }}" alt="Hygiene-Check.Com" /> -->
			<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>
		</header>
			</div>



	{% include menu.html %}

	<!-- Main -->
	<div id="main">
		<div class="inner">
